AI Support Agent/AI Support Agent — Telegram.json
{
  "name": "AI Support Agent — Telegram",
  "description": "Telegram AI support agent: Groq-powered chat agent with Postgres memory and three tools — search_knowledge_base (calls existing RAG webhook), create Notion support ticket, escalate to Slack channel.",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "435c7c8c-7093-4aa4-b13d-2d6e2b5a13a6",
      "name": "Telegram Message In",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        112
      ],
      "webhookId": "68cdd137-4279-44b0-bd57-b5b1785b7772"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a friendly customer support agent on Telegram.\n\nYou have three tools:\n- search_knowledge_base: for product/policy/how-to questions. Always ground your answer in the returned context.\n- Create Support Ticket: for bugs, billing issues, account problems, or anything the knowledge base cannot solve.\n- Escalate To Human: page a human on-call.\n\n# Triage rules — follow in order\n\n1. **Vague or one-line message?** (e.g. \"help\", \"I have an issue\", \"get me support\", \"this is broken\") → DO NOT call any tool. Ask ONE clarifying question first (\"What can I help you with?\" / \"Can you describe what you're trying to do?\").\n\n2. **Concrete question about the product / docs?** → call search_knowledge_base. If the result is empty or thin, do NOT invent. Ask the user for one more detail (error message, screenshot, what they tried). Only offer a ticket after they confirm they want one.\n\n3. **Concrete bug / billing / account issue with enough detail?** → call Create Support Ticket. Tell the user the summary and that someone will follow up.\n\n4. **Escalate To Human** — ONLY when one of these is explicit:\n   - User uses words like \"human\", \"real person\", \"agent\", \"live support\", \"speak to someone\".\n   - User is clearly angry or distressed (swearing, all-caps frustration, \"this is unacceptable\").\n   - Issue is urgent: outage, data loss, payment failure, security incident, \"down\", \"broken in production\".\n   \"I need support\" / \"help me\" / \"I have a problem\" alone is NOT enough — ask what they need first.\n\n# Style\n- Replies under 4 short sentences. Telegram, not email.\n- Never invent facts.\n- If you're unsure which path to take, ask ONE clarifying question instead of guessing.",
          "maxIterations": 6
        }
      },
      "id": "ba1a6517-8e76-4a6c-8818-f48b52b3cf5a",
      "name": "Support Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        112
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.2
        }
      },
      "id": "b7dff356-e06e-4d60-80a0-eaa0f6d26251",
      "name": "Groq Llama 3.3 70B",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        480
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "tableName": "support_agent_memory",
        "contextWindowLength": 10
      },
      "id": "2131045b-6291-4b72-9129-426468e00af2",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        320,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search the company knowledge base (PDFs, docs, FAQs) for an answer to the user question. Returns a context passage that you should ground your reply in. Use this for any question that asks about product features, policies, how-tos, or documented information.",
        "method": "POST",
        "url": "https://your-n8n-host.example.com/webhook/rag-query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $fromAI('query', 'The user question, rephrased as a standalone search query', 'string') }}\"\n}",
        "options": {}
      },
      "id": "31fb94d3-a39c-442d-8e4b-449304a54b91",
      "name": "Search Knowledge Base",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        496,
        560
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_NOTION_DATABASE_ID",
          "cachedResultName": "Support Tickets",
          "cachedResultUrl": "https://app.notion.com/p/YOUR_NOTION_DATABASE_ID"
        },
        "title": "={{ $fromAI(\"summary\", \"One-line ticket summary, max 80 chars\", \"string\") }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "type": "status",
              "statusValue": "Open"
            },
            {
              "key": "Priority|select",
              "type": "select",
              "selectValue": "={{ $fromAI(\"priority\", \"Low, Medium, or High\", \"string\") }}"
            },
            {
              "key": "User|rich_text",
              "type": "rich_text",
              "textContent": "={{ $json.message.from.username || $json.message.from.first_name }}"
            },
            {
              "key": "Summary|rich_text",
              "type": "rich_text",
              "textContent": "={{ $fromAI(\"details\", \"Full description of the issue and what the user needs\", \"string\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "57c13aa2-dce2-4b4c-af49-8c219c62f037",
      "name": "Create Support Ticket",
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        688,
        544
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#kb-support"
        },
        "text": "=:rotating_light: *Support escalation*\n*From:* {{ $json.message.from.first_name }}{{ $json.message.from.last_name ? ' ' + $json.message.from.last_name : '' }}{{ $json.message.from.username ? ' (@' + $json.message.from.username + ')' : '' }}\n*Telegram chat ID:* `{{ $json.message.chat.id }}`\n*Original message:*\n> {{ $json.message.text }}\n*Why escalated:* {{ $fromAI(\"reason\", \"One short sentence: why this needs a human (urgent, angry, explicit human request).\", \"string\") }}\n*What they need:* {{ $fromAI(\"ask\", \"One sentence describing what action the human should take.\", \"string\") }}\n\n_Reply in this thread to message the user back._",
        "otherOptions": {}
      },
      "id": "c539921f-1e8c-41fd-98ad-b78b0322cf94",
      "name": "Escalate To Human",
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.4,
      "position": [
        1008,
        480
      ],
      "webhookId": "19375d4e-e10a-4e9c-be72-d3bcb94713c1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Message In').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('Telegram Message In').item.json.message.message_id }}"
        }
      },
      "id": "efb09af0-4443-481b-b6bd-beeb0990781d",
      "name": "Reply To User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        112
      ],
      "webhookId": "a677cbbf-e820-483b-9c06-4919c2d67dc5"
    }
  ],
  "connections": {
    "Telegram Message In": {
      "main": [
        [
          {
            "node": "Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Agent": {
      "main": [
        [
          {
            "node": "Reply To User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Llama 3.3 70B": {
      "ai_languageModel": [
        [
          {
            "node": "Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Support Ticket": {
      "ai_tool": [
        [
          {
            "node": "Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalate To Human": {
      "ai_tool": [
        [
          {
            "node": "Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "tags": []
}
